body, form, ul, li, p, h1, h2, h3, h4, h5
{	
	font-family: Helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
}


#nav ul {
	float: left;
	list-style-type: none;
	width: 100%;
	height: 35px;
	background: #e3e3e3;
	background-color: #999;
	box-shadow: 1px 1px 2px #333;
	text-shadow: 0 1px 0 white;
	text-align : center;
}

#nav ul a{
	display: block;
	width: 20%;
	list-style-type: none;
	float: left;
	color: #454545;
	font-size: 20px;
	text-decoration: none;

}

#nav ul a:hover{
	display: block;
	width: 20%;
	list-style-type: none;
	float: left;
	color: #ddd;
	text-shadow: 0 1px 0 black;
	background: #555;
	height: 35px;
}

.active{
	list-style-type: none;
	color: #ddd;
	text-shadow: 0 1px 0 black;
	background: #555;
	height: 35px;
}

.inactive{

}


dl
{
	padding: 7px;
}

dl dt
{
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin: 0;
	font-size: 12px;
	padding: 4px;
		
}

dl dt a
{
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	display: block;
	background-color: #606061;
}

.actu
{	
	margin:10px 0px 0px 0px; 
	/*width:400px;*/
	height:200px;
	background:white;
	border:5px solid #eee;
    /*background-color: #fff;*/
    border-color:#999 #999 #999 #999;
	text-align: center; 	
}	

/*
.search
{
	margin:10px 0px 0px 0px; 
}
*/


